html,
body {
  margin: 0;
}

.leaflet-container {
  height: 100vh;
}

.custom-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
}

.custom-controls button {
  text-transform: uppercase;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.chart {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  left: 0;
  padding-top: 20px;
  position: absolute;
  z-index: 1000;
}
